#Contact{
    background: url("../Images/contactBG.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Contact #background{

    display: flex;
    justify-content: center;
    align-items: center;
}
#background #position{
    width: 600px;
    background-color: white;
    transition: 1s;

}
#background h1{
    text-align: center;
    font-size: 30px;
    font-family: "Arial Black",sans-serif;
}
#background span{
    color: #ff4726;
}
#position div:last-child{
    margin-left: 20px;
    margin-right: 20px;
}
#position{
    border: 1px solid black;
    box-shadow: 1px 1px 15px black;
    border-radius: 5px;
}
#message{

    margin: 5px 20px;
    width: 560px;
    height: 100px;
    resize: none;
    background-color: lightgray;
    border-radius: 5px;
    padding-top: 5px;
    border-color: darkgray;
    transition: 1s;
}

#containerContact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#containerContact div{
    width: 260px;
}
input{
    margin-top: 5px;
    height: 30px;
    border: 1px solid darkgray;
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
}
#button{
    display:  flex;
    justify-content: center;
    align-items: center;

}
#button button{
    background-color: black;
    color: white;
    width: 100px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
}
#button button:hover{
    opacity: 0.8;
}

@media(max-width: 700px)
{
    #background #position{
        width: 400px;
        background-color: white;
        transition: 1s;

    }
    #message{

        margin: 5px 20px;
        width: 360px;
        height: 100px;
        resize: none;
        background-color: lightgray;
        border-radius: 5px;
        padding-top: 5px;
        border-color: darkgray;
        transition: 1s;
    }
}