#Hobby{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
#Hobby img:not(:hover){
    width: 450px;
    margin-right: 100px;
    transition: 1s;

}
#Hobby div{
    margin-left: 100px;
    width: 600px;

}
#Hobby h1{
    font-size: 45px;
    font-family: "Arial Black", sans-serif;
}
#Hobby p{
    color: gray;
    text-align: justify;
    transition: 0.5s;
}
#Hobby span{
    color: #749654;
    font-weight: bold;
}
#Hobby p:hover{
    font-size: 20px;
    width: 100%;
    transition: 0.5s;

}
#Hobby img:hover{
    width: 70vh;
    margin-right: 100px;
    transition: 1s;
}
#Hobby img{
    box-shadow: 1px 1px 15px black;
}
@media(max-width: 1000px)
{
    #Hobby{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        height: 100vh;
    }
    #Hobby h1{
        font-size: 45px;
        text-align: center;
        font-family: "Arial Black", sans-serif;
    }
    #Hobby div{

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }
    #Hobby p:hover{
        width: 100%;

    }
    #Hobby img:not(:hover){
        width: 300px;
        height: 300px;
        margin-top: 40px;
        margin-right: 0;
        transition: 0s;

    }
    #Hobby img:hover{
        width: 300px;
        margin-top: 40px;
        margin-right: 0;
    }

}