*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Arial", sans-serif;
    position: relative;
}
header{
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    height: 68px;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px white solid;
}
header img{
    width: 200px;
    transition: 1s;
}
#gif
{
    margin-left: 60px;
}
#ulnav li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.navigation{
    text-decoration: none;
    color: white;
}

.navigation:hover{
    color: #ff4726;
    transition: 0.5s;
}
#hamburger nav {
    position: absolute;
    left: 70%;
    top: 69px;
    right: 0;
    height: 0;
    background-color: rgba(252,71,38,0.7);
    overflow: hidden;
}

#hamburger ul {
    list-style: none;
    height: 100vh;
    width: 230px;

}
#hamburger li {
    display: block;

}
#hamburger a {
    color: white;
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
#hamburger a::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: black;
}
#hamburger a:hover::after{
    width: 100%;
    transition: width .3s;
}

#hamburger a:hover {
    color: black;
}
#hamburger{
    display: none;
    align-items: center;
    flex-direction: row-reverse;

}
#hamburger {
    user-select: none;
}

#toggle{
    background: #353535;
    border: none;
    display: grid;
    margin-right: 50px;
}
#toggle1{
    background: #353535;
    border: none;
    display: none;
    margin-right: 50px;
}
.h,.h1{
    width: 20px;
}
.h1{
    color: white;
}
.fa-color{
    color: white;
}
.fa-color:hover{
    color: #ff4726;
}
@media (max-width: 950px) {
    #ulnav
    {
        display: none;
    }
    #hamburger{
        display: flex;
    }

}
@media(max-width: 700px)
{
    header a img
    {
        width: 150px;

    }
    #gif
    {
        margin-left: 30px;
    }
}

#Home{
    background: url("../Images/homeBG.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#Home #hometext{
    height: 20vh;
    width: 100%;
    margin-top: 15vh;
}
#darkbg
{
    background-color: rgb(20,20,20,0.7);
}
#Home #darkbg:not(:hover) h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    transition: 1s;
}
#Home span{
    color: #ff4726;
}
#Home #darkbg:not(:hover) h2
{
    font-size: 0;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    text-align: center;
    transition: 1s;
}
#Home #darkbg:hover h1
{

    font-size: 50px;
    transition: 0.8s;
    color: white;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}
#Home #darkbg:hover h2
{
    font-size: 30px;
    transition: 0.8s;
    color: white;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    word-spacing: 4px;
}